body{
background:#121212;
color:white;
font-family:Arial;
}

.search{
text-align:center;
margin:20px;
}

.container{
display:flex;
justify-content:center;
gap:50px;
}

.results{
width:400px;
}

.queue-panel{
width:250px;
background:#1e1e1e;
padding:20px;
border-radius:10px;
}

.track{
background:#1e1e1e;
padding:10px;
margin:10px;
border-radius:8px;
}

button{
padding:8px;
margin:5px;
background:#1db954;
border:none;
color:white;
cursor:pointer;
}

.controls{
margin-top:20px;
}
